* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
   background:linear-gradient(90deg,red,blue);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    
    padding: 40px 0;
    text-align: center;
    color: white;
}

.section {
    background: white;
    padding: 20px;
    width: 350px;
    margin: auto;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

input[type="number"],
select {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.btn-apply {
    width: 90%;
    padding: 12px;
    background: #4a90e2;
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s;
}

.btn-apply:hover {
    background: #3576c6;
}

#result {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #444;
}

.footer {
    margin-top: auto;
    background: #f9f8f8;
    color: #060505;
    text-align: center;
    padding: 12px 0;
}

.rear {
    font-size: 14px;
}